KAWASAKI
piece_svg
AVX2.zip
POPCNT.zip
stockfish
scripts/cv_test.py
scripts/test.png
scripts/test2.png
chess.db
KAWASAKI_Chess.egg-info
board_moves
build
*.pdf
scripts/ArUco.py
scripts/__pycache__/simple_telnet.cpython-312.pyc
